---
import { Image } from "astro:assets";
import OmoriPng from "../../public/images/omori.png";

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    titleOverride={`lm04/404`}
    descriptionOverride={`Waiting for something to happen?`}
    slugOverride={`404`}
>
    <div
        class={`h-[80dvh] aspect-square bg-white flex flex-col justify-center items-center gap-10 mx-auto rounded-md `}
    >
        <Image
            src={OmoriPng}
            alt={`Omori Pixel Art`}
            class={`h-[128px] w-[128px]`}
            priority
        />

        <div class={`relative text-lg`}>
            <div class={`p-0.5 border border-neutral-950`}>
                <div
                    class={`h-[64px] w-[400px] flex justify-start p-2 font-omori bg-neutral-950 text-neutral-50`}
                >
                    <p>404 (Waiting for something to happen?)</p>
                </div>
            </div>

            <div class={`absolute -top-12 p-0.5 border border-neutral-950`}>
                <div
                    class={`h-fit w-fit flex justify-start px-2 py-1 font-omori bg-neutral-950 text-neutral-50`}
                >
                    <p>OMORI</p>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
