---
import BaseLayout from "../layouts/BaseLayout.astro";
import Age from "../components/Age.svelte";
---

<BaseLayout>
	<!-- <section class={`min-h-[84dvh] w-full`}>
		<article class={`mt-10`}>
			<hgroup class={`md:w-[80%]`}>
				<div class={`font-grotesk font-semibold md:text-7xl text-5xl`}>
					<p>Hello! I'm</p>
					<h2
						class={`bg-clip-text text-transparent bg-gradient-to-r from-tv-girl-pink via-tv-girl-blue to-tv-girl-pink animate-bg-pan bg-size-[200%]`}
					>
						Lalit Maurya
					</h2>
				</div>

				<p>
					A <Age client:load /> year-old developer with a love for computer
					science, cooking, and music.
				</p>
			</hgroup>

			<div></div>
		</article>
	</section> -->
</BaseLayout>
