---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.svelte";

interface Props {
    title?: string;
    description?: string;
    slugOverride?: string;
}

const {
    title = SITE_TITLE,
    description = SITE_DESCRIPTION,
    slugOverride,
} = Astro.props;

const headerParams = {
    pathname: Astro.url.pathname,
    slugOverride,
};
---

<html lang="en">
    <head>
        <BaseHead {title} {description} />
    </head>

    <body class={`flex flex-col md:items-center overflow-x-hidden`}>
        <Header client:load {...headerParams} />

        <main class={`min-h-[90dvh] md:w-[96ch] md:m-auto mx-4`}>
            <slot />
        </main>

        <Footer client:load />
    </body>
</html>
